.container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 230px;
    margin-bottom: 700px;
    
    padding-top: 30px;
    height: 1500px;
    margin-left: 600px;
    border-radius: 20px;
    background: #F5F5F5;
    max-width: 1020px;
}
.heading{
    margin-bottom: 70px;
}

.heading h1{
    font-size: 68px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: serif;
    font-style: oblique;
}
.box{
    display: flex;
}

.box-1{
    border: 2px solid white;
    background: darkred;
    color: antiquewhite;
    font-size: 26px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 28px;
}

.box-2{
    border: 2px solid white;
    background:blueviolet;
    color: antiquewhite;
    font-size: 26px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
}

.container-2{
    width: 850px;
    margin-top: 130px;
}

.item{
    border: 3px solid darkblue;
    height: 86px;
    border-radius: 40px;
}

.item h1{
    margin-left: 25px;
}

button{
    margin-top: 60px;
    border: 2px solid brown;
    font-size: 30px;
    border-radius: 10px;
    background: darkcyan;
    color: aliceblue;
    cursor: pointer;
    padding: 7px;
}